root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8

[*.{kt,kts}]
# noinspection EditorConfigKeyCorrectness
ktlint_standard_no-wildcard-imports = disabled